@{
    ViewBag.Title = "Home Page";
}
<!---->
<div class="jumbotron">
    <h1>A Famosa Empresa ABC</h1>
    <p class="lead">A empresa ABC tem como compromisso pesquisar novas tecnologias que facilitem o desenvolvimento de aplicações web</p>
    <p><a href="~/Home/QuemSomos" class="btn btn-primary btn-lg">Quem Somos &raquo;</a></p>
</div>
